<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title id="titleLogo">CineWeb</title>

    <!--CSS-->
    <link rel="stylesheet" href="../static/css/style.css" />

    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>
    <!--HEADER-->
    <header>
        <!--NAV PRINCIPAL-->
        <nav class="navbar bg-secondary">
            <div class="container-fluid">
                <a class="navbar-brand" href="../templates/index.html">
                    <img src="../static/img/icons8-cinema-48.png" alt="Logo" width="58" height="40"
                        class="d-inline-block align-text-top"  />
                    <Span id="textLogo">CineWeb</Span>
                </a>
            </div>
        </nav>
        <!--FIM NAV PRINCIPAL-->
        <!--NAVBAR-->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../templates/index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../templates/cadastro.html">Cadastro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../templates/listaFilmes.html">Lista de Filmes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../templates/avaliacoes.html">Avaliações</a>
                    </li>
                </ul>
            </div>
            </div>
        </nav>
        <!--FIM NAVBAR-->
    </header>
    <!--FIM HEADER-->
    <main>
        <!--BANNER-->
        <section>
            <div class="container-fluid d-flex justify-content-center align-items-center" id="bannerPrincipal">
                <div class="content">
                    <div class="container-fluid text-center fs-1" id="bemvindo">
                        Seja Bem vindo!
                    </div>
                    <div class="container-fluid text-center fs-1" id="culturaWeb">
                        Casa de Cultura CineWeb
                    </div>
                </div>
            </div>
        </section>
        <!-- FIM BANNER-->
        <!--lANÇAMENTOS-->
        <section>
            <span class=" d-flex align-items-lg-center justify-content-center" id="tituloMes">Lançamentos do Mês</span>
            <div class="container-fluid row mt-2 justify-content-center">
                <!--INICIO CARDS-->
                <div class="card m-3 Larger shadow card-hover" style="width: 18rem;">
                    <img src="../static/img/missao_impossivel.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Missão Impossível</h5>
                        <p class="card-text">Ethan Hunt e Jim Phelps iniciam uma missão que dá errado, com Jim morto e
                            Ethan fugindo. Com a ajuda de Stickell e Krieger, ele tenta recuperar um arquivo na CIA para
                            provar sua inocência.</p>
                    </div>
                </div>
                <div class="card m-3 Larger shadow card-hover" style="width: 18rem;">
                    <img src="../static/img/destinos_a_deriva.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Destinos à Deriva</h5>
                        <p class="card-text">Uma grávida escapa de um país totalitário, fica presa em um container no
                            mar e luta pela vida de seu bebê.</p>
                    </div>
                </div>
                <div class="card m-3 Larger shadow card-hover" style="width: 18rem;">
                    <img src="../static/img/misterio_em_paris.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Mistério em Paris</h5>
                        <p class="card-text">Nick e Audrey Spitz abrem uma agência de investigação e finalmente
                            conseguem um caso importante: um amigo bilionário é sequestrado no dia de seu casamento.</p>
                    </div>
                </div>
                <div class="card m-3 Larger shadow card-hover" style="width: 18rem;">
                    <img src="../static/img/muti_crime_e_poder.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Muti Crime e Poder</h5>
                        <p class="card-text">Um detetive à beira da aposentadoria se une a um professor de Estudos
                            Africanos para rastrear um serial killer que está realizando a antiga prática de magia negra
                            de Muti</p>
                    </div>
                </div>
                <div class="card m-3 Larger shadow card-hover" style="width: 18rem;">
                    <img src="../static/img/missao_de_sobrevivencia.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Missão de Sobrevicência</h5>
                        <p class="card-text">Agente da CIA fica preso no Afeganistão após missão revelada, busca
                            extração com seu tradutor enfrentando inimigos.</p>
                    </div>
                </div>
                <div class="card m-3 Larger shadow card-hover" style="width: 18rem;">
                    <img src="../static/img/esquema_de_risco.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Esquema de Risco</h5>
                        <p class="card-text">O espião Fortune deve impedir a venda de uma tecnologia mortal administrada
                            por um grande negociador de armas. Para isso, ele se junta a um time de elite, incluindo a
                            maior estrela de Hollywood.</p>
                    </div>
                </div>
                <div class="card m-3 Larger shadow card-hover" style="width: 18rem;">
                    <img src="../static/img/o_pacto.jpeg" class="card-img-top" alt="..."">
                    <div class=" card-body">
                    <h5 class="card-title">O Pacto</h5>
                    <p class="card-text">Durante a guerra no Afeganistão, um intérprete arrisca sua vida para
                        carregar um sargento ferido por quilômetros de terreno hostil em busca de um local seguro.
                    </p>
                </div>
            </div>
            <div class="card m-3 Larger shadow card-hover" style="width: 18rem;">
                <img src="../static/img/a_chamada.jpeg" class="card-img-top" alt="..."">
                    <div class=" card-body">
                <h5 class="card-title">A Chamada</h5>
                <p class="card-text">Um empresário deve seguir ordens depois de saber que seu carro está
                    programado para explodir.</p>
            </div>
            </div>
            <!--FIM CARDS-->
            </div>
        </section> <!--FIM LANÇAMENTOS-->
    </main>
    <Footer>
        <div class="card text-center bg-secondary">
            <div class="card-header">
                Informações de Contato
            </div>
            <div class="card-body">
                <h5 class="card-title">Desenvolvido por:</h5>
                <p class="card-text">Marcelo Oliveira</p>
                <a href="https://beacons.ai/marceosantos22" target="_blank"><img
                        src="../static/img/60f3709027327b3c7d731c4c_beacons.png" alt="" width="90px" height="30px"></a>
            </div>
            <div class="card-footer text-body-secondary">
                © 2023 Casa de Cultura WebCine - Todos os direitos reservados.
            </div>
        </div>
    </Footer>
    <!--SCRIPT BOOTSTRAP-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <!--SCRIPT JQUERY-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!--SCRIPT-->
    <script src="../static/script/script.js"></script>
    <!--SCRIPT DATE-->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
</body>

</html>